.add-form-section-btn > .btn-icon-wrapper {
    height: 25px;
    width: 25px;
}

.add-form-section-btn {
    align-self: self-start;

    font-size: 23px;
    color: var(--add-form-section-btn-colour);
}
.add-form-section-btn:hover {
    color: var(--add-form-section-btn-hover-colour);
}
.add-form-section-btn:hover > .btn-icon-wrapper > svg {
    fill: var(--add-form-section-btn-hover-colour);
}
.add-form-section-btn:active {
    color: var(--add-form-section-btn-active-colour);
}
.add-form-section-btn:active > .btn-icon-wrapper > svg {
    fill: var(--add-form-section-btn-active-colour);
}