footer {
    width: 100%;

    padding: 10px;

    background-color: var(--main-card-background);
    box-shadow: 0 -2px 2px var(--shadow-colour);
}

.footer-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 100%;
}

.footer-text {
    font-size: 14px;
}

.footer-image-container {
    
}

.footer-image-container > a {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: var(--footer-link-background);
}

.footer-image-container > a,
.footer-image {
    height: 20px;
    width: 20px;
}