footer {
    width: 100%;

    padding: 10px;

    background-color: white;
    box-shadow: 0 -2px 2px #00000025;
}

.footer-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 100%;
}

.footer-text {
    color: black;
    font-size: 14px;
}

.footer-image-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 14px;
    width: auto;
}

.footer-image {
    height: 14px;
    width: 14px;
}