:root {
    --input-field-height: 35px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 35px;
}

.deleteable-form-wrapper {
    margin-bottom: 30px;
    
    padding-bottom: 25px;
    border-bottom: 2px dashed var(--dark-grey);
}

.del-form-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: self-end;

    height: 25px;
    width: 25px;
}

.del-form-btn {
    height: 100%;
    width: auto;

    border: none;
    background: none;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 16px;
}

.form-field-container {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: start;
    grid-column: span 2;
}

.date-field-container {
    grid-column: span 1; /* Allows date fields to be side by side */
}

label {
    display: block;

    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-grey);
}

input {
    height: var(--input-field-height);
    width: 100%;

    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 0 8px;

    /* Remove default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:focus-visible {
    border-color: var(--primary);
    outline: 1px solid var(--primary);
}

input[type=textarea] {
    height: calc(2 * var(--input-field-height));
}

.add-form-btn > .btn-icon-wrapper {
    height: 25px;
    width: 25px;
}