:root {
    --input-field-height: 35px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 35px;

    margin-top: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-title {
    border-bottom: 2px solid var(--primary);

    font-size: 30px;
    text-align: start;
    color: var(--primary);
}

.form-field-container {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: start;
}

label {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-grey);
}

input {
    height: var(--input-field-height);
    width: 100%;

    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding-left: 8px;

    /* Remove default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:focus-visible {
    border-color: var(--primary);
    outline: 1px solid var(--primary);
}

input[type=textarea] {
    height: calc(2 * var(--input-field-height));
}