:root {
    --input-field-height: 35px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 35px;
}

.deleteable-form-wrapper {
    margin-bottom: 30px;
    
    padding-bottom: 20px;
    border-bottom: 2px dashed var(--dark-grey);
}

.del-form-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: self-end;

    height: 20px;
    width: 20px;
}

.del-form-btn {
    height: 100%;
    width: auto;

    border: none;
    background: none;
}
.del-form-btn:hover > .btn-icon-wrapper > svg {
    fill: #ff0800;
}
.del-form-btn:active > .btn-icon-wrapper > svg {
    fill: #9e0000;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 16px;
}

.form-field-container {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: start;
    grid-column: span 2;
}

.date-field-container {
    grid-column: span 1; /* Allows date fields to be side by side */
}

label {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-grey);
}

input{
    height: var(--input-field-height);
}

textarea {
    height: calc(3 * var(--input-field-height));
}

input,
textarea {
    width: 100%;

    border: 1px solid var(--light-grey);
    border-radius: 5px;
    padding: 8px 8px;

    /* Remove default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:focus-visible,
textarea:focus-visible {
    border-color: var(--primary);
    outline: 1px solid var(--primary);
}