:root {
    --input-field-height: 35px;

    --primary: #00d1ff;
    --light-grey: #d9d9d9;
    --dark-grey: #767676;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-title {
    margin: 60px 0 35px;
    border-bottom: 2px solid var(--primary);

    font-size: 30px;
    text-align: start;
    color: var(--primary);
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: start;
}

label {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-grey);
}

input {
    height: var(--input-field-height);
    width: 100%;

    border: 1px solid var(--light-grey);
    border-radius: 5px;

    /* Remove default styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=textarea] {
    height: calc(2 * var(--input-field-height));
}