header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    padding: 12px;

    background-color: var(--main-card-background);
    box-shadow: 0 2px 2px var(--shadow-colour);
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    max-width: var(--max-content-width);
}

/* TODO: Remove background colour */
.logo-container {
    height: 40px;
    width: 40px;

    border-radius: 50%;
    background-color: lightgrey;
}

.header-title {
    font-size: 30px;
    font-weight: bold;
}

.theme-btn > .btn-icon-wrapper {
    height: 30px;
    width: 30px;
}

.theme-btn > .btn-icon-wrapper > svg {
    fill: var(--toggle-theme-btn-colour);
}
.theme-btn:hover > .btn-icon-wrapper > svg {
    fill: var(--toggle-theme-hover-btn-colour);
}
.theme-btn:active > .btn-icon-wrapper > svg {
    fill: var(--toggle-theme-active-btn-colour);
}