
.nav-btn-wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 45px;

    width: 100%;
}

.nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    border: none;
    outline: none;
}

.back-btn {
    color: var(--light-grey);
    background: none;
}

.fwd-btn-container {
    width: 135px;
}

.fwd-btn {
    padding: 5px 15px;
    
    color: white;
    border-radius: 4px;
    background-color: var(--primary);
}

.icon-wrapper {
    max-height: 30px;
    max-width: 30px;

    margin-right: 10px;
}

.icon-wrapper > img {
    width: 100%;
}