.nav-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 45px;

    width: 100%;
}

.back-btn {
    color: var(--light-grey);
}

.back-btn > .btn-icon-wrapper {
    max-height: 30px;
    max-width: 30px;
}