:root {
    --step-count: 4; /* The number of steps in the stepper */
    --gap-count: calc(var(--step-count) + 1);
    --step-width: 60%;

    --primary: #00d1ff;
    --secondary: #07B8DF;
    --light-grey: #d9d9d9;
}

* {
    box-sizing: border-box;
}

.progress-tracker {
    display: grid;
    grid-template-rows: 80% 19%;
    gap: 5%;
    align-items: center;

    height: 100%;
    width: 100%;
}

.step-indicators {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;

    overflow: hidden;
}

.step-marker {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-items: center;
    gap: 2px;

    height: 100%;
    width: var(--step-width);
}

.step-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    aspect-ratio: 1 / 1;

    border-radius: 100%;
    background-color: #d9d9d9;
}

.step-icon > img {
    height: 62%;
    width: auto;
}

/* Add progress lines before and after each step header */
.step-icon::before,
.step-marker:last-of-type > .step-icon::after {
    position: absolute;
    top: 50%;

    height: 2px;
    width: 100%;

    content: '';

    background-color: var(--light-grey);
    z-index: -1;
}
.step-icon::before {
    left: -100%;
}
.step-marker:last-of-type > .step-icon::after {
    right: -100%;
}

.step-label {
    width: 100%;

    color: white;
    font-weight: bold;
    background-color: var(--light-grey);
}

/* Colour the step headers and connecting lines based on current step */
.step-active > div,
.step-complete > div,
.step-active > .step-icon::before,
.step-complete > .step-icon::before,
.step-marker.step-active:last-of-type > .step-icon::after {
    background-color: var(--primary);
}

.progress-bar {
    display: flex;
    align-items: center;

    height: 100%;
    width: 100%;

    border-radius: 2% / 25%;
    background-color: var(--light-grey);
    overflow: hidden;
}

.progress {
    height: 100%;
    background: linear-gradient(to right, var(--primary), var(--secondary));
}