:root {
    --step-count: 4; /* The number of steps in the stepper */
    --gap-count: calc(var(--step-count) + 1);
}

* {
    box-sizing: border-box;
}

.progress-tracker {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: center;

    height: 100%;
    width: 100%;
}

.step-indicators {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;

    overflow: hidden;
}

.step-marker {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-items: center;
    gap: 2px;

    height: 100%;
    width: 100%;
    overflow: hidden;
}

.step-icon,
.step-label {
    width: 99%;
    max-width: 70px;
}

.step-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1 / 1;

    border-radius: 50%;
    background-color: #d9d9d9;
}

.step-icon > img {
    position: absolute;
    object-fit: contain;

    height: 62%;
    width: auto;
}

/* Add progress lines before and after each step header */
.step-icon::before,
.step-icon::after {
    position: absolute;
    top: 50%;

    height: 2px;
    width: 100%;

    content: '';

    background-color: var(--light-grey);
    z-index: -1;
}
.step-icon::before {
    left: -100%;
}
.step-icon::after {
    right: -100%;
}

.step-label {
    color: white;
    font-weight: bold;
    font-size: 9pt;
    background-color: var(--light-grey);
    overflow: hidden;
}

/* Colour the step headers and connecting lines based on current step */
.step-active > div,
.step-complete > div,
.step-active > .step-icon::before,
.step-complete > .step-icon::before,
.step-complete > .step-icon::after,
.step-marker.step-active:last-of-type > .step-icon::after {
    background-color: var(--primary);
}

.progress-bar {
    display: flex;
    align-items: center;

    height: 25px;
    width: 100%;

    border-radius: 10px / 25%;
    background-color: var(--light-grey);
    overflow: hidden; /* Keeps edges appearing rounded as progress increases */
}

.progress {
    height: 100%;
    background: linear-gradient(to right, var(--primary), var(--secondary));
}

/* Mobile Devices */
@media screen and (max-width: 500px) {
    .step-icon,
    .step-label {
        width: 99%;
        max-width: 70px;
    }

    .step-label {
        font-size: 9pt;
    }

    .progress-bar {
        height: 20px;
    }
}


/* Non-Mobile Devices */
@media screen and (min-width: 501px) {
    .step-icon,
    .step-label {
        width: 99%;
        max-width: 90px;
    }

    .step-label {
        font-size: 12pt;
    }

    .progress-bar {
        height: 30px;
    }
}