#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;
    text-align: center;

    background-color: #FCFCFC;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 25px;
}

main,
.content-page {
    flex-grow: 1;

    width: 100%;
    max-width: var(--max-content-width);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 750;
    border: none;
    border-radius: 4px;
    outline: none;
    background: none;
    cursor: pointer;
}

.btn-default {
    width: 135px;

    padding: 5px 15px;
    
    color: white;
    background-color: var(--primary);
}
.btn-default:hover {
    background-color: #00B8E6;
}
.btn-default:active {
    background-color: #00A7CC;
}