#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;
    text-align: center;

    color: var(--main-colour);
    background-color: var(--main-background);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 25px;
}

main {
    flex-grow: 1;

    width: 100%;
    max-width: var(--max-content-width);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    font-weight: 750;
    border: none;
    border-radius: 4px;
    outline: none;
    background: none;
    cursor: pointer;
}

.default-btn {
    width: 135px;

    padding: 5px 15px;
    
    color: var(--default-btn-colour);
    background-color: var(--default-btn-background);
}
.default-btn:hover {
    background-color: var(--default-btn-hover-background);
}
.default-btn:active {
    background-color: var(--default-btn-active-background);
}