#root {
    width: 100vw;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.progress-tracker-wrapper {
    max-height: 300px;
    width: 100%;
    max-width: 1000px;
}